 <footer>
        <div class="co">
          <h2 >Coding.org</h2>
        </div>
      
          <div class="footag">
            <i class="fas fa-link text-secondary"></i><span class="spaneff text-primary"> Learn</span> <i class="fas fa-link text-secondary"></i><span class="spaneff text-primary"> Compilers</span> <i class="fas fa-link text-secondary"></i><span class="spaneff text-primary"> News Update</span>
          </div>

          <div class="footico">
            <a href="https://www.facebook.com"><i class="fico fab fa-facebook-f fa-2x"> </i></a>
            <a href="https://twitter.com"><i class="fico fab fa-twitter fa-2x"></i></a>
            <a href="https://web.whatsapp.com/"><i class="ficow fab fa-whatsapp fa-2x"></i></a>
            <a href="https://www.instagram.com/"><i class="ficoi fab fa-instagram fa-2x"></i></a>
            <a href="https://www.gmail.com"><i class="ficom fas fa-envelope fa-2x"></i></a>
            <a href="https://in.linkedin.com"><i class="fico fab fa-linkedin-in fa-2x"></i></a>
            
            
            
            
            
          </div>
        
<p class="p-3"> Copyright is a form of protection grounded in the U.S. Constitution and granted by law for original works of authorship fixed in a tangible medium of expression. Copyright covers both published and unpublished works.</p>



        <p  class="fcont spaneff">
        <strong>© Copyright Nkc</strong> 
      </p>
      </footer>
  
      

<script type="text/javascript" src="project32.js"></script>
<script type="text/javascript">  
        function googleTranslateElementInit() {  
            new google.translate.TranslateElement( 
                {pageLanguage: 'en'},  
                'google_translate_element' 
            );  
        }  
    </script>  
</body>
</html>


