<div class="navbar">
    <ul class="nav">
  <li class="nav-item">
    <a class="nav-link font-weight-normal h4" href="/"><i class="fas fa-home"></i></a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle font-weight-normal h4" data-toggle="dropdown" href="#">Web Development</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/html">HTML</a>
      <a class="dropdown-item" href="/css">CSS</a>
      <a class="dropdown-item" href="/javascript">Java Script</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-normal h4" href="/c_cpp">C/C++</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-normal h4" href="/java">JAVA</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-normal h4" href="/python">PYTHON</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-normal h4" href="/sql">SQL</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle font-weight-normal h4" data-toggle="dropdown" href="#">Compilers</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/online">Online Compilers</a>
      <a class="dropdown-item" href="/offline">Software Compilers</a>
    </div>
  </li>
  <li class="nav-item">
    <form  class="nav-link form-inline" action="#">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-success" type="submit">Search</button>
  </form>
  </li>
</ul>
  </div>