<div id="side">
    <div  class="container sbc">
      <h1 id="mji">
        News Update
        </h1>
        <div class="nzanm">
        <ul id="sul">
          <li class="sli"><a href="https://insights.dice.com/2019/12/16/python-top-programming-language-2019/">Python: Top Programming Language of 2019?</a> </li>
          <li class="sli"><a href="https://insights.dice.com/2019/12/04/7-programming-languages-learn-2020/">7 Programming Languages Vital to Learn in 2020</a></li>
          <li class="sli"><a href="https://www.zdnet.com/article/javascript-programming-language-developers-reveal-their-favourite-features-frameworks-and-tools/">JavaScript programming language: Developers reveal</a></li>
          <li class="sli"><a href="https://mybroadband.co.za/news/software/331386-the-most-popular-programming-languages-in-the-world-15.html">The most popular programming languages in the world</a></li>
          <li class="sli"><a href="https://www.chartattack.com/evolution-of-modern-programming-languages/">Evolution of Modern Programming Languages</a></li>
          
          
        </ul>
      </div>
      </div>
    </div>