<%- include("../partials/header") %>
<%- include("../partials/nav") %>

<h1 style="color:#a95050; margin-top:90px;" class="text-center">SOFTWARE COMPLIERS</h1>
<div class="offront content">
  </div>
  <div class="offmar roboto">
  <span class="ofh5">1. Web development Editor</span> <hr><br>
  <ul>
    <li>Sublime</li>
    <li>Notepad++
</li>
    <li>NetBeans
</li>
    <li>Visual Studio Code
</li>
    <li>CoffeeCup HTML Editor
</li>
    <li>Komodo Edits
</li>
  </ul>
  </div>
  <div class="offmar roboto">
<span class="ofh5">2. C</span> <hr><br>
    <ul>
    <li>Borland Turbo C</li>
    <li>Tiny C Compiler
</li>
    <li>Portable C Compiler
</li>
    <li>GCC 
</li>
    <li>Clang
</li>
    <li>LCC
</li>
  </ul>
  </div>

  <div class="offmar roboto">
<span class="ofh5">3. C++</span> <hr><br>
  <ul>
     <li>Borland Turbo C</li>
    <li>Tiny C Compiler
</li>
    <li>Portable C Compiler
</li>
    <li>GCC 
</li>
    <li>Clang
</li>
    <li>LCC
</li>
<li>Intel C++ </li>
<li>Lattice C </li>
  </ul>
  </div>

  <div class="offmar roboto">
 <span class="ofh5">4. JAVA</span> <hr><br>
  <ul>
   <li>Bluej</li>
    <li>jEdit++
</li>
    <li>jGRAPS
</li>
    <li>Jsource
</li>
    <li>Jdeveloper
</li>
    <li>Dr Java
</li>
<li>IntelliJ IDEA Community Edition </li>
<li>Android Studio</li>

  </ul>
  </div><div class="offmar roboto">
 <span class="ofh5">5. PYTHON</span> <hr><br>
  <ul>
    <li>Brython. Supports – Python 3 to 3.7. ...
</li>
    <li>Nuitka. Supports – Python 2.6, 2.7, 3.3 to 3.7. ...

</li>
    <li>PyJS. Supports – Up to Python 2.7. ...

</li>
    <li>Shed Skin. Supports – Python 2.4 to 2.6. ...

</li>
    <li>Skulpt. Supports – Up to Python 3.3. ...

</li>
    <li>Transcrypt. Supports – Python 3 to 3.7. ...

</li>
<li>WinPython. Supports – Up to Python 3.7.
</li>

  </ul>
  </div>


  <div class="offmar roboto">
  <span class="ofh5">6. SQL</span> <hr><br>
  <ul>
<li>       Interbase
</li>
<li>       Studio for SQL Server
</li>
<li>       dbWatch
</li>
<li>       Visual Expert
</li>
<li>       Jet Profiler for MySQL
</li>
<li>        Adminer
</li>
<li>         DBComparer
</li>
<li>DBeaver
</li>


  </ul>
  </div>
  



<%- include("../partials/news") %>   
<%- include("../partials/footer") %>