<%- include("../partials/header") %>
<%- include("../partials/nav") %>

<div class="row">
  <div class="col-6 sm-4">

<h1 style="color:#4d7d4a; margin-top:80px;" class="text-center">ONLINE COMPILERS</h1>
<div class="onfront content">
  </div>
  <div class="mar">
    <span class="h5">1. Coding ground</span> <hr><br>
<img class="im" src="https://1.bp.blogspot.com/-TiBvD89F_UY/WXm4D5ib6eI/AAAAAAAABGA/qMGcW_f2T_I0kFvsSxVuKs5guceWhoZowCLcBGAs/s1600/codingground.JPG">
<ul>
  <li>Create your program in any of the programming languages available. </li>
  <li>There is support for more than 75+ languages. Check all available Programming Languages</li>
  <li>Edit, Compile, Execute and Verify your program.</li>
  <li>Coding Ground is loved by millions of programmers around the globe<br>

It increases user retention at your website<br>

Your website users feel more confident with your content after verifying Program results online</li>
</ul>
</div>

<div class="mar" >
  <span class="h5">2. Online-IDE-Debugging</span> <hr><br>
  <img class="im" src="https://www.improgrammer.net/wp-content/uploads/2018/09/Online-IDE-Debugging-Tool-696x348.jpg">
  <ul>
    <li>Ideone is an online compiler and debugging tool which allows you to compile the source code and execute it online in more than 60 programming languages.</li>
    <li>deone is a standard online IDE that allows to edit, compile, execute and share single C++ files.</li>
    <li>Ideone is easy to use an online compiler.
</li>
  </ul>
</div>
<div class="mar">
  <span class="h5">3.Codepad</span> <hr><br>
  <img class="im" src="https://www.improgrammer.net/wp-content/uploads/2018/09/codepad-696x464.jpg">
  <ul>
    <li>    Codepad works like a compiler or interpreter, not like the read-eval-print loop of an interactive interpreter prompt.
</li>
    <li>If you want to print the value of an expression, you need to use your language’s print command. If your language requires a “main” function, your program won’t work in Codepad without one.
</li>
    <li>Codepad is a powerful IDE with a compiler for 10+ languages.
</li>
    <li>It is Completely anonymous to use.
</li>
  </ul>

</div>
<div class="mar">
<span class="h5">4. Hackerearth</span> <hr><br>
  <img class="im" src="https://www.improgrammer.net/wp-content/uploads/2018/09/hackerearth-696x464.jpg">
  <ul>
    <li>Compiles in the background, after every few keystrokes.
</li>
    <li>The error lines are highlighted within a second after typing the code.
</li>
    <li>An editor has syntax highlighting and autocomplete.
</li>
  </ul>
</div>
<div class="mar">
  <span class="h5">5.Fiddle</span> <hr><br>
  <img class="im" src="https://www.improgrammer.net/wp-content/uploads/2018/09/fiddle-696x330.png">
<ul>
    <li>    Test your JavaScript, CSS, HTML or CoffeeScript online with JSFiddle code editor. (JavaScript, MooTools, jQuery, Prototype, YUI, Glow, and Dojo)
</li>
    <li>Lots of people and companies use JSFiddle for online examples of their JavaScript libraries/products.
</li>
    <li>JSFiddle has the notion of panels there are 4 panels, 3 where you can enter a code(HTML, CSS, JavaScript), and 1 to see the result.
</li>
    <li>You can save your code and update your existing code.
</li>
  </ul>
</div>
<div class="mar">
  <span class="h5">6. Online-GDB</span> <hr><br>
  <img class="im" src="https://www.improgrammer.net/wp-content/uploads/2018/09/Online-GDB-696x354.png">
<ul>
    <li>    Its great online IDE powered with the code editor, compiler and debugger.
</li>
    <li>It supports C, C++, PHP and Java Compilers.
</li>
    <li>The unique feature of OnlineGDB is, you can debug your code step by step.
</li>
    <li>Once the code is written, it can easily be formatted to make it look nice.
</li>
<li> This is a very handy web app for coders who love coding in online IDE but faces unexpected crashes and tricky bugs in their code.
</li>
  </ul>
</div>
<div class="mar">
  <span class="h5">7. Gcc-explorer</span> <hr><br>
  <img class="im" src="https://www.improgrammer.net/wp-content/uploads/2018/09/Gcc-explorer-696x354.png">
<ul>
    <li>    An intuitive web-based tool targeted at C++ programmers and useful for researching, debugging and optimizing code has been made available.
</li>
    <li>GCC Explorer is an interactive compiler.
</li>
    <li>The left-hand pane shows the editable C/C++ code. The right, the assembly output of having compiled the code with a given compiler and settings.
</li>
    <li>One of the things I spend a fair amount of time doing at work is compiling my C/C++ code and looking at the disassembly output.
</li>
    <li>Call me old-fashioned, but I think sometimes the only way to really grok your code is to see what the processor will actually execute.
</li>
  </ul>
</div>
<div class="mar">
  <span class="h5">8.jdoodle</span> <hr><br>
  <img class="im" src="https://www.improgrammer.net/wp-content/uploads/2018/09/jdoodle-696x341.png">
<ul>
    <li>    Supports collaborative code.
</li>
    <li>It just starts with a simple text area where you can paste code, and click run.
</li>
    <li>You can change the command line parameters and set the stdin before running the program. Best suited for many old languages that are not supported by new online editors, and you don’t want to install and configure each compiler for those languages.
</li>
    <li>It supports 68 Languages.
</li>
    <li>It executes directly from your website/blog.
</li>
  </ul>
</div><br>
</div>
  </div>
  


<%- include("../partials/news") %>   
<%- include("../partials/footer") %>